/* COLOR VARIABLES
============================================= */

$color-green: #4B9200;
$color-orange: #F9804B;
$color-orange_dark: #E47209;
$color-yellow: #FFEE2E;
$color-red: #D31414;
$color-black_blue: #333B41;
$color-gray: #767474;
$color-gray_smoky: #ABABAB;
$color-gray_light: #F1F3F2;
$color-frosted_glass_white: #FDFDFF85;
$color-orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
                    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
                  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);


/* SCREEN WIDTH VARIABLES
============================================= */

$desktop: 1601px;
$small-desktop: 1570px;
$tablet: 980px;
$mobile: 620px;


@mixin flex ($justify: center, $align: center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

html {
  font: 16px 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  margin: 0 auto;
}
body {
  position: relative;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
	color: inherit;
}
p {
  margin: 0;
}
.container{
  width: 100%;
  height: 100%;
}
.wrapper {
  @include flex();
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
  @media screen and (max-width:$small-desktop) {
    max-width: 940px;
	}
  @media screen and (max-width:$tablet) {
    max-width: 600px;
	}
  @media screen and (max-width:$mobile) {
    max-width: 300px;
	}
}
.content {
  @include flex();
  width: 100%;
  height: 100%;
  

}
.h2{
  font-weight: 400;
  font-size: 3em;
  line-height: 120%;
  margin: 0;
  @media screen and (max-width:$mobile) {
    font-size: 1.5em;
	}
}
.h3{
  font-size: 2.25em;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
}
.subtitle{
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 34px 0;
  @media screen and (max-width: $tablet) {
    margin: 10px 0 20px 4px;
  }
  @media screen and (max-width:$mobile) {
    margin: 10px 0 8px 4px;
  }
}
.text {
  line-height: 130%;
}

.body{
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
}

.h1-header{
  display: none;
}

.header {
  @include flex();
  background: black;
  color: white;
  margin: 0 auto;
  padding: 14px 0;
  line-height: 140%;
  position: relative;
  z-index: 2;
  @media screen and (max-width:$tablet) {
    padding: 2px 0;
    position: fixed;
    width: 100%;
  }
  .content {
    justify-content: space-between;
  }
  .logo {
    margin-right: 63px;
    @media screen and (max-width:$tablet) {
      margin: 0;
    }
    a {
      display: block;
      background-image: url("../../assets/icons/logo.svg");
      background-size: contain;
      width: 82px;
      height: 52px;
      @media screen and (max-width:$tablet) {
        width: 46px;
        height: 29px;
      }
    }
  }
  .navigation {
    transition: color 0s;
    z-index: 50;
    @media screen and (max-width: $tablet) {
      transition: all 1s;
      width: 100vw;
      height: 350px;
      position: absolute;
      top: 0px;
      right: -200%;
      background-color: $color-gray_light;
      color: $color-black_blue;
      padding: 10px;
      flex-direction: column;
      gap: 30px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .logo {
      background: url("../../assets/icons/logo_burger.svg");
      width: 65px;
      height: 42px;
      display: none;
      @media screen and (max-width: $tablet) {
        display: block;
      }
    }
    .navigation-list {
      @include flex(flex-start);
      & li:last-child {
        margin-left: auto;
      }
      @media screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        & li:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

.navigation{
  @include flex(space-between);
  width: 100%;
  .navigation-list{
    width: 100%;
    @include flex();
    margin: 0;
    list-style: none;
    padding: 0;
    gap: 58px;
    @media screen and (max-width:$small-desktop){
      gap: 48px;
    }
  }
  a:hover {
    color: $color-orange;
  }
}

.burger-icon {
  display: none;
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
    z-index: 50;
    .line {
      width: 100%;
      height: 2px;
      background: white;
      margin: 0 0;
      z-index: 3;
      transition: all 0.5s ease-in-out;
      border-radius: 2px;
    }
  }
}
.burger-icon.open {
  .line1 {
    transform: translate(0px, 5px) rotate(45deg);
    background-color: #F9804B;
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: translate(0px, -6px) rotate(-45deg);
    background-color: #F9804B;
  }
} 

.open-burger-menu .navigation{
    right: 0; 
}
.open-cover{
	transition: all 1s;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(41, 41, 41, 0.582);
	z-index: 2;
}
.lock{
	overflow: hidden;
}

.active-nav-link{
  color: $color-orange;
  a:hover {
    color: white;
  }
}
.button {
  width: 298px;
  height: 54px;
  line-height: 54px;
  border-radius: 25px;
  background: $color-orange;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: $color-orange_dark;
    transform: scale(1.05);
  }
  &:active {
    background: $color-green;
    transform: scale(0.95);
  }
}
.panda{
  height: 386px;
  @media screen and (max-width:$small-desktop) {
    height: 390px;
  }
  @media screen and (max-width:$tablet) {
    height: 369px;
  }
  @media screen and (max-width:$mobile) {
    height: 221px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media screen and (max-width:$small-desktop) {
      object-position: -172px 0;
    }
    @media screen and (max-width:$tablet) {
      object-position: -330px 25px;
    }
    @media screen and (max-width:$mobile) {
      object-position: -210px 0;
    }
  }
  
}
.donate{
  @include flex();
  background: $color-orange-grad;
}
.donate-content {
  @include flex();
  flex-direction: column;
  margin-top: 40px;
  color: white;
  width: 100%;
  @media screen and (max-width:$tablet) {
    margin-top: 32px;
  }

  .h3 {
    margin-bottom: 10px;
    @media screen and (max-width:$small-desktop) {
      margin-bottom: 30px;
      padding-right: 105px;
    }
    @media screen and (max-width:$tablet) {
      font-size: 1.5em;
      line-height: 120%;
      margin-bottom: 19px;
      padding: 0;
    }
  }
  .text {
    margin: 0;
    font-weight: 500;
    line-height: 138%;
    margin-bottom: 46px;
    @media screen and (max-width:$tablet) {
      margin-bottom: 30px;
    }
  }
  .text + h3 {
    color: #FE9013;
    align-self: flex-start;
    margin-bottom: 60px;
    @media screen and (max-width:$small-desktop) {
      margin-bottom: 39px;
    }
    @media screen and (max-width:$tablet) {
      font-size: 36px;
      line-height: 130%;
      margin-bottom: 30px;
    }
    @media screen and (max-width:$mobile) {
      font-size: 1.5em;
      line-height: 120%;
    }
  }
}
.pick-a-friend{
  @include flex();
  flex-direction: column;
  background: rgba(255, 255, 255, 0.52);
  width: 100%;
  border-radius: 20px;
  padding: 40px 92px 62px;
  box-sizing: border-box;
  color: black;
  margin-bottom: 180px;
  @media screen and (max-width:$small-desktop) {
    padding: 20px 44px 46px 47px;
    margin-bottom: 30px;
  }
  @media screen and (max-width:$tablet) {
    padding: 30px 44px 30px 47px;
    margin-bottom: 46px;
  }
  @media screen and (max-width:$mobile) {
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  .h2{
    margin-bottom: 20px;
    margin-right: 12px;
    color: #FE9013;
    @media screen and (max-width:$small-desktop) {
      margin-left: -6px;
      margin-bottom: 11px;
    }
    @media screen and (max-width:$tablet) {
      margin-left: 10px;
      margin-bottom: 21px;
    }
    @media screen and (max-width:$mobile) {
      margin-bottom: 12px;
    }
  }
  .subtitle {
    margin: 0;
    margin-bottom: 60px;
    align-self: flex-start;
    @media screen and (max-width:$tablet) {
      margin-bottom: 50px;
      text-align: center;
    }
    @media screen and (max-width:$mobile) {
      font-size: 16px;
      margin-bottom: 11px;
    }
  }
  .button {
    margin-bottom: 30px;
  }
}
.widget {
  @include flex(space-between);
  margin-bottom: 48px;
  width: 532px;
  @media screen and (max-width:$tablet) {
    margin-bottom: 40px;
  }
  @media screen and (max-width:$mobile) {
    width: 100%;
    margin: 0;
  }
  .description {
    height: 100%;
    @include flex();
    flex-direction: column;
    gap: 11px;
    align-self: flex-end;
    margin-left: -7px;
    @media screen and (max-width:$tablet) {
      margin-bottom: 22px;
    }
    @media screen and (max-width:$mobile) {
      margin: 0;
      margin-top: 60px;
    }
    .ammount-of-days {
      font-weight: 500;
      font-size: 72px;
      line-height: 80%;
      @media screen and (max-width:$mobile) {
        font-size: 40.6015px;
      }
    }
    .text {
      font-weight: 400;
      @media screen and (max-width:$mobile) {
        font-size: 9.02255px;
      }
    }
  }
  .cross-icon {
    margin-top: 30px;
    margin-right: 61px;
    @media screen and (max-width:$mobile) {
      svg {
        width: 7.89px;
        height: 7.89px;
      }
      margin-top: 10px;
      margin-right: 30px;
    }
  }
  img {
    margin-right: 5px;
    @media screen and (max-width:$mobile) {
      width: 100%;
      height: 100%;
      max-width: 160px;
      margin: 0;
    }
  }
}
.counter {
  width: 100%;
  .body {
    margin-bottom: 10px;
    @media screen and (max-width:$tablet) {
      margin: 0;
    }
  }
  @media screen and (max-width:$small-desktop) {
    width: 95%;
  }
  @media screen and (max-width:$tablet) {
    width: 117%;
  }
  @media screen and (max-width:$mobile) {
    width: 100%;
  }
}

.progress-bar {
  @include flex(space-between);
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  margin-bottom: 50px;
  width: 100%;
  @media screen and (max-width:$mobile) {
    margin-bottom: 25px;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 40px;
    height: 2px;
    width: 92%;
    background: $color-gray;
    @media screen and (max-width:$mobile) {
      top: 13px;
      left: 20px;
      width: 87%;
    }
    
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 27px;
    background: $color-black_blue;
    border-radius: 2px;
    top: 7px;
    z-index: -1;
    @media screen and (max-width:$mobile) {
      height: 13px;
    }
  }
}

.progress-bar-item {
  position: relative;
  @include flex();
  flex-direction: column;
  flex: 0 1 12.5%;
  
  &:nth-child(1) {
    padding-right: 39px;
    @media screen and (max-width:$small-desktop) {
      display: none;
    }
  }
  &:nth-child(2) {
    padding-right: 22px;
    @media screen and (max-width:$tablet) {
      display: none;
    }
  }
  &:nth-child(3) {
    padding-right: 6px;
    @media screen and (max-width:$tablet) {
      display: none;
    }
  }
  &:nth-child(4) {
    padding-right: 6px;
    @media screen and (max-width:$tablet) {
      padding-left: 22px;
    }
    @media screen and (max-width:$mobile) {
      padding: 0;
    }
  }
  &:nth-child(5) {
    padding-left: 10px;
    @media screen and (max-width:$mobile) {
      padding: 0;
    }
  }
  &:nth-child(6) {
    padding-left: 26px;
    @media screen and (max-width:$mobile) {
      padding: 0;
    }
  }
  &:nth-child(7) {
    padding-left: 33px;
    @media screen and (max-width:$mobile) {
      padding: 0;
    }
  }
  &:nth-child(8) {
    padding-left: 50px;
    @media screen and (max-width:$mobile) {
      padding: 0;
    }
  }
}
.progress-bar-radio {
  display: none;
  & + label {
    position: relative;
    @include flex();
    flex-direction: column;
    user-select: none;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color-black_blue;
    @media screen and (max-width:$mobile) {
      font-size: 13px;
    }
    
  }
  & + label:hover {
    cursor: pointer;
  }
  & + label::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    background: url("../../assets/icons/progressbar-dot.svg") no-repeat center center;
    @media screen and (max-width:$mobile) {
      background: url("../../assets/icons/progressbar-dot_320.svg") no-repeat center center;
      width: 20px;
      height: 20px;
      position: relative;
      top: 4px;
    }
  }
  & + label::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("../../assets/icons/progressbar-dollar-icon.svg") center/cover no-repeat;
    position: absolute;
    top: 55px;
    left: -11px;
    @media screen and (max-width:$mobile) {
      width: 5px;
      height: 10px;
      top: 30px;
      left: -6px
    }
  }
  &:checked + label {
    color: #FE9013;
  }
  &:checked {
    background-image: url("../../assets/icons/progressbar-circle.svg"), url("../../assets/icons/progressbar-dot.svg");
    @media screen and (max-width:$mobile) {
      background-image: url("../../assets/icons/progressbar-circle_320.svg"), url("../../assets/icons/progressbar-dot_320.svg");
    }
  }
  &:checked + label::before {
    background-image: url("../../assets/icons/progressbar-circle.svg"), url("../../assets/icons/progressbar-dot.svg");
    @media screen and (max-width:$mobile) {
      background-image: url("../../assets/icons/progressbar-circle_320.svg"), url("../../assets/icons/progressbar-dot_320.svg");
    }
  }
  &:checked + label::after {
    background-image: url("../../assets/icons/progressbar-dollar-icon_active.svg");
  }
}

.form-label {
  &::before {
    content: url(../../assets/icons/dollar.svg);
    width: 10px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    @media screen and (max-width:$tablet) {
      right: 51px;
      top: 11px;
    }
  }
}
.another-amount {
  
  margin-bottom: 29px;
  @media screen and (max-width:$mobile) {
    margin-bottom: 20px;
  }
  form {
    @include flex();
    flex-direction: column;
    gap: 12px;
    position: relative;
    input[type=number] {
      line-height: 140%;
      -moz-appearance: textfield;
      height: 54px;
      width: 268px;
      border: 1px solid $color-gray;
      border-radius: 2px;
      background-color: transparent;
      padding: 16px 9px;
      @media screen and (max-width:$tablet) {
        width: 180px;
        height: 42px;
      }      
      &:focus {
        outline: none;
        border-color: $color-green;
      }
      &:focus::-webkit-input-placeholder {
        color: $color-green;
      }
      &:focus ~ .form-label::before {
        content: url(../../assets/icons/dollar-green.svg);
      }
      &:focus:invalid {
        color: red;
        border-color: red;
      }
      &:focus:invalid ~ .form-label::before {
        content: url(../../assets/icons/dollar-red.svg);
      }
    }
    &::placeholder {
      color: $color-gray;
    }
  }
  
  .amount-radio {
    @include flex(flex-end);
    gap: 50px;
    padding: 0;
    margin: 0;
    width: 100%;
    @media screen and (max-width:$tablet) {
      padding: 8px 0 0 40px;
    }
    .item {
      @include flex(flex-start);
      position: relative;
      min-width: 84px;
      label:before {
        content: "";
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid $color-orange;
        border-radius: 50%;
        position: absolute;
        left: -20px;
        top: 0;
        box-sizing: border-box;
      }
      label:after {
        content: "";
        width: 10px;
        height: 10px;
        background: transparent;
        border-radius: 50%;
        position: absolute;
        left: -17px;
        top: 3px;
        box-sizing: border-box;
      }
    }
  }
  input[type=radio] {
    display: none;
    &:checked + label{
      &:after {
        background: $color-orange;
      }
    }
  }
}
.monthly-label, .once-label {
  line-height: 140%;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.footer {
  @include flex();
  background-color: black;
  color: white;
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 120px 1fr;
    margin-top: 40px;
    margin-bottom: 50px;
    @media screen and (max-width:$small-desktop) {
      // margin: 39px 17px 50px 14px;
      grid-template-columns: 1fr 1fr fit-content(100%);
    }
    @media screen and (max-width:$tablet) {
      margin: 12px 0;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    @media screen and (max-width:$mobile) {
      grid-template-rows: 0fr 0fr 0fr;
      grid-row-gap: 30px;
      margin: 20px 0;
      justify-items: center;
      grid-template-areas: 
        "logo"
        "social"
        "button"
        "credits"
        "nav"; 
    }
  .navigation{
    justify-content: center;
    align-self: end;
    @media screen and (max-width:$small-desktop){
      align-self: end;
      margin-left: -60px;
      align-items: flex-end;
    }
    @media screen and (max-width:$tablet) {
      margin: 0;
      justify-self: start;
      grid-area: 3 / 1 / 4 / 2;
      &-list {
        gap: 37px;
      }
    }
    @media screen and (max-width:$mobile) {
      grid-area: nav;
      line-height: 140%;
      &-list {
        gap: 30px;
      }
    }
  }
    .logo {
      background: url("../../assets/icons/logo.svg");
      width: 82px;
      height: 52px;
      align-self: start;
      
      @media screen and (max-width:$tablet) {
        grid-area: 1 / 1 / 2 / 2;
      }
      @media screen and (max-width:$mobile) {
        grid-area: logo;
        background: url("../../assets/icons/logo_320.svg") center no-repeat;
        width: 125px;
        height: 24px;
        
      }
    }
    .button {
      border-radius: 5px;
      grid-column: span 3;
      align-self: center;
      @media screen and (max-width:$tablet) {
        grid-area: 2 / 1 / 3 / 3;
        align-self: start;
      }
      @media screen and (max-width:$mobile) {
        grid-area: button; 
      }
    }
  }
}
.subscribe{
  margin: 0 0 0 20px;
  grid-column: span 2;
    justify-self: end;
  @media screen and (max-width:$small-desktop) {
    margin: 0 34px 0 0;
  }
  @media screen and (max-width:$tablet) {
    display: none;
  }
  .subtitle{
    margin: 0 0 14px 0;
  }
}
input[type=email] {
  border: 1px solid $color-orange;
  border-radius: 2px;
  background-color: black;
  width: 228px;
  height: 42px;
  margin-right: 5px;
  padding: 10px;
  color: white;
  line-height: 140%;
  box-sizing: border-box;
  &::placeholder{
    color: $color-gray;
  }
  &:focus {
    outline: none;
    border-color: $color-green;
  }
  &:focus~input[type=submit] {
    color: $color-green;
    border-color: $color-green;
  }
  &:focus:invalid {
    color: red;
    border-color: red;
  }
  &:focus:invalid~input[type=submit] {
    color: red;
    border-color: red;
  }
}
input[type=submit] {
  cursor: pointer;
  width: 128px;
  height: 42px;
  background-color: $color-gray_light;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.5s;
  &:hover {
    transform: scale(1.05);
    
  }
  &:active {
    color: $color-green;
    border-color: $color-green;
    transform: scale(0.95);
  }
  
}
.social-list{
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width:$tablet) {
    align-self: start;
    justify-self: end;
    grid-row: span 2;
    margin: 0;
    gap: 20px;
    grid-area: 1 / 2 / 3 / 3;
  }
  @media screen and (max-width:$mobile) {
    flex-direction: row;
    grid-area: social;
    justify-self: center;
    gap: 30px;
  }
  .social-link {
    line-height: 140%;
    @media screen and (max-width:$tablet) {
      display: none;
    }
  }
}
.social-item{
  @include flex();
  gap: 12px;
  &:hover {
    .facebook {
      fill: #4267B2;
    }
    .twitter {
      fill: #1DA1F2;
    }
    .instagram {
      fill: url(#grad);
    }
    .youtube {
      fill: #FF0000;
    }
  }
}
.social-item-icon{
  display: block;
  height: 26px;
  fill: #C4C4C4;
}
.credits{
  @include flex();
  flex-direction: column;
  gap: 7px;
  justify-self: end;
  align-self: end;
  p {
    font-weight: 100;
    line-height: 130%;
    color: $color-gray_smoky;
  }
  @media screen and (max-width:$small-desktop) {
    margin-right: 4px;
  }
  @media screen and (max-width:$tablet) {
    margin: 0;
    grid-area: 3 / 2 / 4 / 3;
    margin-top: 37px;
  }
  @media screen and (max-width:$mobile) {
    margin: 0;
    grid-area: credits;
    line-height: 120%;
    font-size: 15px;
  }
}
